.column__title {
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  min-width: 400px;
  border-radius: 5px;
  color: black;
  padding: 1rem;
  gap: 1rem;
}

.column__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
}

.column__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.column__input {
  display: flex;
  width: 100%;
  align-self: flex-end;
  gap: 1rem;
  justify-content: flex-end;
}

.column__input input {
  width: 80%;
  padding: 0rem 0.5rem;
}

.column__dragging {
  transition: background-color 0.5s ease;
  background-color: var(--background-primary);
}
