:root {
  --background-primary: #282c34;
  --background-accent: #16181d;
  --background-text-primary: #ffffff;
  --background-text-accent: #61dafb;
  --header-height: 80px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  min-width: 100%;
  width: fit-content;
}

header {
  height: 80px;
  background-color: var(--background-accent);
  color: var(--background-text-accent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.header__logo-container {
  display: flex;
  flex-direction: row;
}

.kanban__board {
  background-color: var(--background-primary);
  min-height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 100%;
  width: fit-content;
  gap: 1rem;
  padding: 1rem;
}

.btn {
  outline: none;
  display: flex;
  padding: 0.5rem 1rem;
  border: none;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  min-width: fit-content;
}

.btn-primary {
  color: white;
  background-color: var(--background-accent);
}
.btn-primary:hover {
  background-color: var(--background-primary);
}

.btn-secondary {
  background-color: var(--background-accent);
  color: black;
}
.btn-secondary:hover {
  background-color: var(--background-primary);
}
