:root {
  --background-primary: #282c34;
  --background-accent: #16181d;
  --background-text-primary: #ffffff;
  --background-text-accent: #61dafb;
  --header-height: 80px;
  --footer-height: 80px;
  --scrollbar-height: 5px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.logo {
  color: var(--background-accent) !important;
  height: 50px;
  width: 50px;
}
.container {
  min-width: 100%;
  overflow-x: scroll;
}

.container::-webkit-scrollbar {
  display: block;
  height: var(--scrollbar-height);
}

.container::-webkit-scrollbar-thumb {
  background-color: var(--background-text-accent);
  border-right: none;
  border-left: none;
}

header {
  height: 80px;
  background-color: var(--background-accent);
  color: var(--background-text-accent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.kanban__board {
  background-color: var(--background-primary);
  min-height: calc(
    100vh - var(--header-height) - var(--footer-height) -
      var(--scrollbar-height)
  );
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 100%;
  width: fit-content;
  gap: 1rem;
  padding: 1rem;
}

.btn {
  outline: none;
  display: flex;
  padding: 0.5rem 1rem;
  border: none;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  min-width: fit-content;
}

.btn-primary {
  color: white;
  background-color: var(--background-accent);
}
.btn-primary:hover {
  background-color: var(--background-primary);
}

.btn-secondary {
  background-color: var(--background-accent);
  color: black;
}
.btn-secondary:hover {
  background-color: var(--background-primary);
}
